# Domain
# This would be set to the production domain with an env var on deployment
# used by Traefik to transmit traffic and aqcuire TLS certificates

# To test the local Traefik config
DOMAIN=localhost.tiangolo.com

# Environment: local, staging, production
ENVIRONMENT=production

PROJECT_NAME="Survey speach synthesis"
STACK_NAME=survey-speach-synthesis

# Backend
BACKEND_CORS_ORIGINS='http://localhost,http://localhost:3000,https://localhost,https://localhost:3000,http://localhost.tiangolo.com,http://dashboard.localhost.tiangolo.com,http://api.localhost.tiangolo.com'
SECRET_KEY=
FIRST_SUPERUSER=superuser@survey.com
FIRST_SUPERUSER_PASSWORD=survey_superuser_password

# Frontend 
API_URL="http://backend:8000"
# API_URL = "http://localhost:8000"
NEXT_PUBLIC_MEDIA_URL = "http://localhost:8000"

NEXT_PUBLIC_RECAPTCHA_SITE_KEY=
RECAPTCHA_SECRET_KEY=


# Postgres
POSTGRES_SERVER=db
POSTGRES_PORT=5432
POSTGRES_DB=survey_db
POSTGRES_USER=survey_user
POSTGRES_PASSWORD=survey_password

SENTRY_DSN=

# Configure these with your own Docker registry images
DOCKER_IMAGE_BACKEND=ghcr.io/tomi-trost/survey-backend:latest
DOCKER_IMAGE_FRONTEND=ghcr.io/tomi-trost/survey-frontend:latest
